<form [formGroup]="admissionForm">
  <mat-card class="form-card"
    ><mat-horizontal-stepper [linear]="True">

      <mat-step stepControlName="puc">
        <form formGroupName="puc">
          <ng-template matStepLabel>Institute Details</ng-template>
		 <mat-form-field appearance="outline" class="margin">
            <mat-label>Email</mat-label>
            <input matInput placeholder="" formControlName="email" required />
          </mat-form-field>
          <br /><br />


          <mat-form-field appearance="outline" class="margin">
            <mat-label>Institute Name</mat-label>
            <input matInput placeholder="" formControlName="iname" required />
          </mat-form-field>
          <br /><br />

<mat-form-field appearance="outline" class="margin">
            <mat-label>Address</mat-label>
            <input matInput placeholder="" formControlName="address" required />
          </mat-form-field>
          <br /><br />

<mat-form-field appearance="outline" class="margin">
            <mat-label>Pincode</mat-label>
            <input matInput placeholder="" formControlName="pincode" required />
          </mat-form-field>
          <br /><br />

<mat-form-field appearance="outline" class="margin">
            <mat-label>Institute Website</mat-label>
            <input matInput placeholder="" formControlName="website" required />
          </mat-form-field>
          <br /><br />

<h2>Course Offered</h2>
<mat-form-field>
  <mat-label>Stream</mat-label>
  <select matNativeControl required>
    <option value="ba" >Bachelor of Arts (B.A)</option>>
<option value="ba-bed" >Bachelor of Education (B.A. B.Ed)</option>
<option value="babl">Bachelor of Law (B.A.B.L)</option >
<option value=”ballb”>Bachelor of Law (B.A.LLB)</option >
<option value=”bams”>Bachelor of Ayurvedic Medicine and Surgery (B.A.M.S)</option >
<option value=“bas“>Bachelor of Applied Sciences (B.A.S)</option >
<option value=“baslp“>Bachelor of Arts (B.A.S.L.P)</option >
<option value=“baslp“>Bachelor of Audiology and Speech Language Pathology (B.A.S.L.P)</option >
<option value=“barch“>Bachelor of Architecture (B.Arch)</option >
<option value=“bba“>Bachelor of Business Administration (B.B.A)</option> 
<option value=“bballb“>Bachelor of Law (B.B.A LL.B)</option >
<option value=“bbm”>Bachelor of Business Management (B.B.M)</option >
<option value=“bbs”>Bachelor of Business Studies (B.B.S)</option >
<option value=“bcs”>Bachelor of Computer Applications (B.C.A)</option >
<option value=“bcj”>Bachelor of Communication Journalism (B.C.J)</option> 
<option value=“bcs”>Bachelor of Computer Science (B.C.S)</option >
<option value=“bcom”>Bachelor of Commerce (B.Com)</option >
<option value=“bd”>Bachelor of Divinity (B.D)</option >
<option value=“bds”>Bachelor of Dental Surgery (B.D.S)</option> 
<option value=”bdt”>Basic Development Therapy (B.D.T)</option >
<option value=“bdes”>Bachelor of Design (B.Des)</option>
<option value=“be”>Bachelor of Engineering (B.E)</option>
<option value=“bes”>Bachelor of Electronic Science (B.E.S)</option>
<option value=“bed”>Bachelor of Education (B.Ed)</option>
<option value=“bed-ai”>Bachelor of education in Artificial Intelligence (B.Ed AI)</option>
<option value=“bedq”>Bachelor of Education (B.EdQ)</option>
<option value=“beied”>Bachelor of Elementary Education (B.EI.ED)</option>
<option value=“beled”>Bachelor of Elementary Education (B.EL.Ed)</option>
<option value=“bfa”>Bachelor of Fine Arts (B.F.A)</option>
<option value=“bfia”>Bachelor of Financial Investment and Analysis (B.F.I.A)</option>
<option value=“bfs”>Bachelor of Fishery Sciences (B.F.S)</option>
<option value=“bftech”>Bachelor of Fashion Technology (B.F.Tech)</option>
<option value=“bgl”>Bachelor of General Law (B.G.L)</option>
<option value=”bhed”>Behavioral Healthcare Education (B.H.Ed)</option>
<option value=“bhm”>Bachelor of Hotel Management (B.H.M)</option>
<option value=“bhmct”>Bachelor Hotel Management and Catering Technology (B.H.M.C.T)</option>
<option value=“bhms”>Bachelor of Homeopathic Medicine & Surgery (B.H.M.S)</option>
<option value=“bhtm”>Bachelor of Hospitality and Tourism Management (B.H.T.M)</option>
<option value=“bism”>Bachelor of Information Systems Management (B.I.S.M)</option>
<option value=“bl”>Bachelor of Laws (B.L)</option>
<option value=“blis”>Bachelor of Library and Information Science (B.L.I.S)</option>
<option value=“blm”>Bachelor of Labour Management (B.L.M)</option>
<option value=“blsc”>Bachelor Library Science (B.L.Sc)</option>
<option value=“blit”>Bachelor of Literature (B.Lit)</option>
<option value=“bmlt”>Bachelor of Medical Laboratory Technology (B.M.L.T)</option>
<option value=“bmr”>Bachelor of Mental Retardation (B.M.R)</option>
<option value=“bmrsc”>Bachelor of Medical Record Science (B.M.R.Sc)</option>
<option value=“bmsc”>Bachelor in Mobility Science (B.M.Sc)</option>
<option value=“bmt”>Bachelor of Medical Technology (B.M.T)</option>
<option value=“bnysc”>Bachelor of Naturopathy and Yogic Sciences (B.N.Y.Sc)</option>
<option value=“bot”>Bachelor of Occupational Therapy (B.O.T)</option>
<option value=“both”>Bachelor of Occupational Therapy (B.O.Th)</option>
<option value=“boptom”>Bachelor of Optometry and Vision Science (B.Optom)</option>
<option value=“bpe”>Bachelor of Physical Education (B.P.E)</option>
<option value=“bped”>Bachelor Of Physical Education (B.P.Ed)</option>
<option value=“bpo”>Bachelor in Prosthetics and Orthotics (B.P.O)</option>
<option value=“bpr”>Bachelor of Public Relations (B.P.R)</option>
<option value=“bpt”>Bachelor of Physiotherapy (B.P.T)</option>
<option value=“bpharma”>Bachelor of Pharmacy (B.Pharma)</option>
<option value=“brt”>Bachelor of Rehabilitation Therapy (B.R.T)</option>
<option value=“bs”>Bachelor of Science (B.S)</option>
<option value=“bse”>Bachelor in Science Education (B.S.E)</option>
<option value=“bsla”>Bachelor of Speech Language & Audiology (B.S.L.A)</option>
<option value=“bsls”>Bachelor of Socio Legal Sciences</option >
<option value=“bsl-llb”>Bachelor of Laws (B.S.L.LL.B)</option>
<option value=“bsms”>Bachelor of Siddha Medical Sciences (B.S.M.S)</option>
<option value=“bsw”>Bachelor Of Social Work (B.S.W)</option>
<option value=“bsc”>Bachelor of Science (B.Sc)</option>
<option value=“bsc-ed”>Bachelor of Science in Education (B.Sc.Ed)</option>
<option value=“bta”>Bachelor of Tourism Administration (B.T.A)</option>
<option value=”btc”>Basic Training Certificate (B.T.C)</option>
<option value=“btech”>Bachelor of Technology (B.Tech)</option>
<option value=“bums”>Bachelor of Unani Medicine & Surgery (B.U.M.S)</option>
<option value=“bvsc”>Bachelor of Veterinary Science (B.V.Sc)</option>
<option value=“bm”>Bachelor of Medicine </option >
<option value=“bjmc”>Bachelor of Journalism and Mass Communication (BJMC)</option>
<option value=“dse-cp“> Diploma in Special Education (D.S.E (CP)</option>
<option value=“bums”>Bachelor of Unani Medicine & Surgery (Kamil e Tob o Jarahat)</option>
<option value=“llb”>Bachelor of Law (LL.B)</option>
<option value=“mbbs”>Bachelor of Surgery (M.B.B.S)</option>
<option value=”mjmc”>Master of Journalism and Mass Communication (MJMC)</option>
<option value=”phd”>Doctor of Philosophy (Ph. D)</option>
<option value=”psy-d”>Clinical Psychology (Psy.D (Cl.Psy)</option>
<option value=”ugbt”>Under Graduate Basic Training (U.G.B.T)</option>
<option value=”ugt”>Under Graduate Training (U.G.T)</option>
<option value=”ugtt”>Under Graduate Teacher Training (U.G.T.T)</option>
<option value=”ug”>Under Graduate (UG)</option>
<option value=“ms-b“>Master of Science (BOTANY)</option>
<option value=“llm“>Master of Law (LL.M)</option>
<option value=“ma“>Master of Arts (M.A)</option>
<option value=“ma-swds“>Master of Arts (M.A. (SWDS)</option>
<option value=“mam“>Master of Arts in Management (M.A.M)</option>
<option value=“mapm“>Master of Arts in Personal Management (M.A.P.M)</option>
<option value=“maslp“>Master of Audiology & Speech Language Pathology (M.A.S.L.P)</option>
<option value=“matt“>Master of Arts in Theatre & Television (M.A.T.T)</option>
<option value=“march“>Master of Architecture (M.Arch)</option>
<option value=“mba“>Master of Business Administration (M.B.A)</option>
<option value=“mbe“>Master of Business Economics (M.B.E)</option>
<option value=“mbl“>Master of Business Laws (M.B.L)</option>
<option value=“mbm“>Master of Business Management (M.B.M)</option>
<option value=“mbs“>Master of Business Studies (M.B.S)</option>
<option value=“mca“>Master of Computer Applications (M.C.A)</option>
<option value=“mcj“>Master of Communication & Journalism (M.C.J)</option>
<option value=“mcl“>Master of Comparative Laws (M.C.L)</option>
<option value=“mcm“>Master of Computer Management (M.C.M)</option>
<option value=“mcs“>Master of Corporate Secretaryship (M.C.S)</option>
<option value=“mch“>Master of Chirurgical (M.Ch)</option>
<option value=“mcom“>Master of Commerce (M.Com)</option>
<option value=“md“>Doctor of Medicine (M.D)</option>
<option value=“md-s“>Sports Medicine (M.D)</option>
<option value=“mds“>Master of Dental Surgery (M.D.S)</option>
<option value=“mdes“>Master of Design (M.Des)</option>
<option value=“me“>Master of Engineering (M.E)</option>
<option value=“med“>Master of Education (M.Ed)</option>
<option value=“med-ai“>Master of education in Artificial Intelligence (M.Ed AI)</option>
<option value=“mfa“>Master of Fine Arts (M.F.A)</option>
<option value=“mfc“>Master of Finance & Control (M.F.C)</option>
<option value=“mfm“>Master of Film Management (M.F.M)</option>
<option value=“mfs“>Master of Financial Services (M.F.S)</option>
<option value=“mfsc“>Master of Fishery Science (M.F.Sc)</option>
<option value=“mft“>Master of Foreign Trade (M.F.T)</option>
<option value=“mha“>Master of Hospital Administration (M.H.A)</option>
<option value=“mhhm“>Master of Hospitality & Hotel Management (M.H.H.M)</option>
<option value=“mhm“>Master of Hospitality Management (M.H.M)</option>
<option value=“mhrm“>Master of Human Resource Management (M.H.R.M)</option>
<option value=“mhsc“>Master Of Health Science (M.H.Sc)</option>
<option value=“mhtm“>Masters of Hospitality and Tourism Management (M.H.T.M)</option>
<option value=“mib“>Master of International Business (M.I.B)</option>
<option value=“mim“>Master of Information Management (M.I.M)</option>
<option value=“mj“>Master of Journalism (M.J)</option>
<option value=“ml“>Master of Laws (M.L)</option>
<option value=“mlisc“>Master of Library and Information Science (M.L.I.Sc)</option>
<option value=“mlm“>Master of Labour Management (M.L.M)</option>
<option value=“mlsc“>Master of Library Science (M.L.Sc)</option>
<option value=“mmm“>Master of Marketing Management (M.M.M)</option>
<option value=“mmp“>Master of Management Program (M.M.P)</option>
<option value=“mms“>Master of Management Studies (M.M.S)</option>
<option value=“mot“>Master of Occupational Theraphy (M.O.T)</option>
<option value=“mpa“>Master of Performing Arts (M.P.A)</option>
<option value=“mpe“>Master of Psychiatric Epidemiology (M.P.E)</option>
<option value=“mped“>Master Of Physical Education (M.P.Ed)</option>
<option value=“mph“>Master of Public Health (M.P.H)</option>
<option value=“mpib“>Masters Programme in International Business (M.P.I.B)</option>
<option value=“mpm“>Master of Performance Management (M.P.M)</option>
<option value=“mpo“>Diploma in Prosthetics & Orthotics (M.P.O)</option>
<option value=“mpsm“>Masters in Public Systems Management (M.P.S.M)</option>
<option value=“mpt“>Master of Physiotheraphy (M.P.T)</option>
<option value=“mph“>Master of Pharmacy (M.Pharma)</option>
<option value=“mphil“>Master of Philosophy (M.Phil)</option>
<option value=“mrsc“>Master of Rehabilitation Science (M.R.Sc)</option>
<option value=“ms-li-isc“>M.S. in Library and Information Science (M.S)</option>
<option value=“ms“>Master of Science (M.S)</option>
<option value=“msd“>Master of Social Dynamics (M.S.D)</option>
<option value=“mspt“>Masters Programme In Sports Physiotheraphy (M.S.P.T)</option>
<option value=“msw“>Master of Social Work (M.S.W)</option>
<option value=“msc“>Master of Science (M.Sc)</option>
<option value=“mta“>Master of Tourism Administrations (M.T.A)</option>
<option value=“mtm“>Master of Tourism Management (M.T.M)</option>
<option value=“mtech“>Master of Technology (M.Tech)</option>
<option value=“mvsc“>Master of Veterinary Science (M.V.Sc)</option>
<option value=“mba“>Master of Business Administration (MBA)</option>
<option value=“m-irpm“>Master of Industrial Relation and Personal Management (MIR and PM)</option>

<option value=“mpm“>Master of Personnel Management (MPM)</option>
<option value=“m-pmir“>Master of Personal Management and Industrial Relation (MPM and IR)</option>
<option value=“pdipg“>Post Graduate Diploma (P Diplomo)</option>
<option value=“pgddrm“>Post Graduate Diploma (P.G.D.D.R.M)</option>
<option value=“pgddt“>Post Graduate Diploma (P.G.D.D.T.(MD:P&N)</option>
<option value=“pgdei“>Post Graduate Diploma (P.G.D.E.I)</option>
<option value=“pgdrp“>Post Graduate Diploma (P.G.D.R.P)</option>
<option value=“pgdse“>Post Graduate Diploma (P.G.D.S.E.(MR)</option>
<option value=“pgp“>Post Graduate Programme (P.G.P)</option>
<option value=“pg“>Post Graduate (PG)</option>
<option value=“pgp“>Post Graduate Programme (PG Programme)</option>
<option value=“pgd“>Post Graduate Diploma (PGD)</option>
<option value=“pgexp“>POST GRADUATE PROGRAME FOR EXECUTIVES (PGEXP)</option>
<option value=“pgp“>POST-GRADUATE PROGRAMME IN MANAGEMENT (PGP)</option>
<option value=“pgp-abm“>POST GRADUATE PROGRAMME IN AGRIBUSINESS MANAGEMENT (PGP-ABM)</option>
<option value=“pgp-pmp“>PUBLIC MANAGEMENT AND POLICY (PGP-PMP)</option>
<option value=“pgpex-vlm“>PGPX IN -VISIONARY LEADERSHIP IN MANUFACTURING (PGPEX-VLM)</option>
<option value=“pgpm“>POST GRADUATE PROGRAME IN MANAGEMENT (PGPM)</option>
<option value=“pgpx“>MANAGEMENT FOR EXECUTIVES (PGPX)</option>
<option value=“phd“>Doctor of Philosophy (Ph. D)</option>

  </select>
</mat-form-field>
<br /><br /> 



          <div>
            <button
              mat-button
              matStepperNext
              type="button"
            >
              Next
            </button>
          </div>
        </form>
      </mat-step>




      <mat-step stepControlName="mtech">
        <form formGroupName="mtech">
          <ng-template matStepLabel>Qualification</ng-template>
          <mat-form-field appearance="outline" class="margin">
            <mat-label>Number of seats</mat-label>
            <input
              matInput
              placeholder=""
              formControlName="seats"
              required
            /> </mat-form-field
          ><br /><br />
<mat-form-field appearance="outline" class="margin">
            <mat-label>Notification link</mat-label>
            <input
              matInput
              placeholder=""
              formControlName="notification"
              required
            /> </mat-form-field
          ><br /><br />


<mat-form-field appearance="outline" class="margin">
            <mat-label>Application Link</mat-label>
            <input
              matInput
              placeholder=""
              formControlName="application"
            /> </mat-form-field
          ><br /><br />

<mat-form-field appearance="outline" class="margin">
            <mat-label>Age Restriction</mat-label>
            <input
              matInput
              placeholder=""
              formControlName="age"
              required
            /> </mat-form-field
          ><br /><br />


<h2> Qualification </h2>
<mat-form-field>
  <select matNativeControl>
    <option value="t">Tenth</option>
    <option value="i">Intermediate</option>
    <option value="b">Masters</option>
    <option value="m">Bachelor</option>
    <option value="p">PhD</option>
  </select>
</mat-form-field>
<br /><br /> 



  <h2>Gender Restriction</h2>
<mat-form-field>
  <select matNativeControl>
    <option value="t">No Restriction</option>
    <option value="i">Only Male</option>
    <option value="b">Only Female</option>
  </select>
</mat-form-field>
<br /><br />     

<h2 class="heading"> Last Date for application </h2>
<mat-form-field>
  <input matInput [matDatepicker]="picker">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field><br /> <br />    


          
          <div>
            <button mat-button matStepperPrevious type="button">Back</button>
            <button
              mat-button
              type="button"
              (click)="onSubmit()"
            >
              Submit
            </button>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card>
</form>
